
        body {
            font-family: Roboto
        }
        
        .alt-font,
        .sidebar ul li a,
        .tags a,
        .btn {
            font-family: Montserrat
        }
        
        body {
            line-height: 23px;
            font-size: 13px
        }
        
        h1 {
            line-height: 50px;
            font-size: 45px
        }
        
        h2 {
            line-height: 45px;
            font-size: 40px
        }
        
        h3 {
            line-height: 40px;
            font-size: 35px
        }
        
        h4 {
            line-height: 30px;
            font-size: 25px
        }
        
        h5 {
            line-height: 25px;
            font-size: 20px
        }
        
        h6 {
            line-height: 23px;
            font-size: 18px
        }
        
        .text-extra-small {
            line-height: 15px;
            font-size: 10px
        }
        
        .text-small {
            line-height: 20px;
            font-size: 11px
        }
        
        .text-medium {
            line-height: 24px;
            font-size: 14px
        }
        
        .text-large {
            line-height: 22px;
            font-size: 15px
        }
        
        .text-extra-large {
            line-height: 27px;
            font-size: 18px
        }
        
        .title-small {
            line-height: 30px;
            font-size: 20px
        }
        
        .title-medium {
            line-height: 28px;
            font-size: 24px
        }
        
        .title-large {
            line-height: 34px;
            font-size: 28px
        }
        
        .title-extra-large {
            line-height: 37px;
            font-size: 35px
        }
        
        .title-extra-large-2 {
            line-height: 45px;
            font-size: 45px
        }
        
        .title-extra-large-3 {
            line-height: 50px;
            font-size: 50px
        }
        
        .title-extra-large-4 {
            line-height: 70px;
            font-size: 70px
        }
        
        .title-extra-large-5 {
            line-height: 50px;
            font-size: 80px
        }
        
        .title-big {
            line-height: 100px;
            font-size: 100px
        }
        
        .title-big2 {
            line-height: 125px;
            font-size: 125px
        }
        
        .title-big3 {
            line-height: 150px;
            font-size: 150px
        }
        
        .bg-white {
            background: #fff
        }
        
        .bg-black {
            background: #000
        }
        
        .bg-dark-gray {
            background: #252525
        }
        
        .bg-mid-gray {
            background: #d4d4d4
        }
        
        .bg-mid-gray2 {
            background: #b2b2b2
        }
        
        .bg-mid-gray3 {
            background: #e2e2e2
        }
        
        .bg-light-gray {
            background: #f7f7f7
        }
        
        .bg-gray {
            background: #f6f6f6
        }
        
        .bg-yellow {
            background: #e6af2a
        }
        
        .bg-light-yellow {
            background: #f8f7f5
        }
        
        .bg-deep-yellow {
            background: #c8a64b
        }
        
        .bg-golden-yellow {
            background: #ffd800
        }
        
        .bg-fast-yellow {
            background: #ef106e
        }
        
        .bg-yellow-ochre {
            background: #997546
        }
        
        .bg-brown {
            background: #614c45
        }
        
        .bg-deep-brown {
            background: #544441
        }
        
        .bg-orange {
            background: #c24742
        }
        
        .bg-deep-orange {
            background: #d66e4a
        }
        
        .bg-fast-orange {
            background: #ff513b
        }
        
        .bg-pink {
            background: #c2345f
        }
        
        .bg-deep-red {
            background: #dc3535
        }
        
        .bg-crimson-red {
            background: #e31d3b
        }
        
        .bg-deep-pink {
            background: #e53878
        }
        
        .bg-light-pink {
            background: #dc378e
        }
        
        .bg-deep-pink-dark {
            background: #e15276
        }
        
        .bg-fast-pink {
            background: #ff1a56
        }
        
        .bg-fast-pink-dark {
            background: #ef106e
        }
        
        .bg-magenta {
            background: #d94378
        }
        
        .bg-dark-green {
            background: #60a532
        }
        
        .bg-fast-green {
            background: #00ff97
        }
        
        .bg-deep-green {
            background: #1acd7b
        }
        
        .bg-deep-green2 {
            background: #7ebaa1
        }
        
        .bg-deep-green-dark {
            background: #04b966
        }
        
        .bg-deep-green-dark2 {
            background: #6ad5a7
        }
        
        .bg-deep-green-dark3 {
            background: #62a486
        }
        
        .bg-transparent-green {
            background: rgba(0, 255, 151, 0.5)
        }
        
        .bg-fast-blue {
            background: #00efff
        }
        
        .bg-dark-blue {
            background: #1e2126
        }
        
        .bg-deep-blue {
            background: #2283d4
        }
        
        .bg-deep-blue2 {
            background: #131d43
        }
        
        .bg-deep-blue3 {
            background: #1d2127
        }
        
        .bg-transparent-deep-blue {
            background: rgba(17, 116, 198, 0.9)
        }
        
        .bg-turquoise-blue {
            background: #93e4cf
        }
        
        .bg-deep-blue-dark {
            background: #1d6cae
        }
        
        .bg-transparent-blue {
            background: rgba(0, 239, 255, 0.5)
        }
        
        .bg-violet {
            background: #6c407e
        }
        
        nav.shrink {
            background: #000
        }
        
        .menu-wrap {
            background: #fff
        }
        
        .center-logo-header,
        .shrink.center-logo-header {
            background: #93e4cf
        }
        
        .transparent-header.shrink {
            background: rgba(0, 0, 0, 0.7)
        }
        
        .sidebar-nav,
        nav.shrink.sidebar-nav {
            background: #fff
        }
        
        .header-white,
        .header-white.shrink {
            background: #fff
        }
        
        nav.without-border.shrink {
            background: #000
        }
        
        body {
            color: #626262
        }
        
        a {
            color: #626262
        }
        
        a:hover {
            color: #272727
        }
        
        i {
            color: #9a9a9a
        }
        
        .white-text {
            color: #fff
        }
        
        .black-text {
            color: #000
        }
        
        .gray-text {
            color: #626262
        }
        
        .light-gray-text {
            color: #ababab
        }
        
        .light-gray-text2 {
            color: #c5c5c5
        }
        
        .medium-gray-text {
            color: #929292
        }
        
        .dark-gray-text {
            color: #373737
        }
        
        .deep-gray-text {
            color: #404040
        }
        
        .deep-light-gray-text {
            color: #878787
        }
        
        .magenta-text {
            color: #d94378
        }
        
        .orange-text {
            color: #ff513b
        }
        
        .deep-orange-text {
            color: #d66e4a
        }
        
        .deep-red-text {
            color: #e75e50
        }
        
        .crimson-red-text {
            color: #e31d3b
        }
        
        .deep-pink-dark-text {
            color: #e15276
        }
        
        .fast-pink-text {
            color: #ff1a56
        }
        
        .fast-pink-text-dark {
            color: #ef106e
        }
        
        .yellow-text {
            color: #fdd947
        }
        
        .fast-yellow-text {
            color: #fff
        }
        
        .brown-text {
            color: #614c45
        }
        
        .deep-yellow-text {
            color: #c8a64b
        }
        
        .dark-blue-text {
            color: #1e2126
        }
        
        .deep-blue-text {
            color: #2283d4
        }
        
        .turquoise-blue-text {
            color: #85d4c0
        }
        
        .transparent-blue-text {
            color: rgba(0, 255, 151, 0.5)
        }
        
        .fast-green-text {
            color: #85eea5
        }
        
        .deep-green-text {
            color: #1acd7b
        }
        
        .deep-green-dark2-text {
            color: #6ad5a7
        }
        
        .transparent-green-text {
            color: rgba(0, 255, 151, 0.5)
        }
