body{
	line-height: 23px;
	font-size: 13px;
	background-color: #fff;	
	box-sizing:border-box;
}

.navbar{
	border-radius: 0;
	width:244px;
	float:left;
}
.sidebar-wrapper{
	background-color: pink;
	position:relative;
	padding-left:250px;
	border:1px solid black;
}
.container{
	position:relative;
	display:table-cell;
	padding:60px 40px;
}

.row{
	margin-right: -15px;
	margin-left: -15px;
}

.navbar-header{
	margin-bottom:15px;
	background-color:black;
	
}
#collapsable-nav{
	clear:both;
	margin:25px 0px;
	position:relative;
}
.navbar-list{
	padding:15px 0px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}