body{
	margin: 0px;
	padding: 0px;
}
.wrapper{
	height:759px;
	background-image: url(/images/backgroundImage1.jpg);
	background-position:center center;
	background-size: cover; 
	background-position: center ;
}
.container-fluid{
	margin: 0 auto;
}

.header{
	margin-top:0px;
	width:100%;
}

.logo{
	margin-top:10px;
	float:left;
}

nav{
	margin-top:10px;
	float:right;
}
#nav-cursor{
	height:4px;
	width:99px;
	background:white;
	bottom:0;
	left:0;	
}
.nav-list{
	color:#fff;
	font-size:20px;
	font-family: 'Sansita', sans-serif;
	margin-left:20px;	
}
#page1{
	clear:both;
	text-align:center;
	color:#fff;
}
#page1 h1{
	font-size:5vw;
	font-family: 'Bree Serif', serif;
	padding-top:200px;
}
#page1 span{
	font-size:7vw;
	font-family: 'Oxygen', sans-serif;
}
#page2{
	background:yellow;
	
}
#page3{
	background:blue;
	
}